h1 {
  font-family: 'exo-2', sans-serif;
  font-weight: 300;
  text-align: center;
  color:hsl(342 77% 46% / 0.84);
  font-size: 60px;
}

h2 {
  font-family: 'Barlow', sans-serif;
}

p {
  font-family: 'Rajdhani', sans-serif;
}

.gold {
  background-color: hsl(60 69% 51% / 0.91);
  color: white;
}

.darker-green {
  background-color:hsl(120 30% 50% / 0.95);
  color: white;
}

.lighter-green {
  background-color: hsl(120 30% 50% / 0.46);
  color: black;   
}

.lighter-gold {
  background-color: hsl(60 69% 51% / 0.46);
  color: black;
}

.hot-pink {
  background-color: hsl(342 77% 46% / 0.84);
  color: white;
}

.barlow p {
  font-family: 'Barlow', sans-serif;
}

.exo-2 p {
  font-family: 'Exo 2', sans-serif;
}

.rajdhani p {
  font-family: 'Rajdhani', sans-serif;
}


